.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(
        to right bottom,
        rgba(#303F9F, 0.8),
        rgba(#3F51B5, 0.8)
      );
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 80%;
}

@media(max-width: 599px) {
    .DesktopOnly {
        display: none;
    }
}